<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoops</title>
    <link rel="stylesheet" href="../../../static/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="wrapper">
        <h1>Bem-vindo ao Hoops App</h1>
        <p>O Hoops App é seu portal para marcar seus jogos de basquete, acompanhar suas estatísticas e muito mais</p>
        
        <div class="input-box">
            <button class="btn" onclick="window.location.href='../tela_login/login2.html'">Ir para Login</button>
        </div>
        
        <div class="input-box">
            <button class="btn" onclick="window.location.href='../cadastro/cadastro.html'">Criar Conta</button>
        </div>
    </div>
</body>
</html>